<html style="text-align:center">
    <title>czy we Wrocławiu jest burza? sprawdź aktualny status burzy!</title>
    <style type="text/css">
        body {
            font-family: Helvetica, Arial, sans-serif;
            color: #000;
            margin-top: 15%;
        }
        h1 {
            font-size: 6em;
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: -0.02em;
            padding-top: 0.5em;
            text-align: center;
        }
        div {
            display: inline
        }
    </style>
    <body>
        <h1>{{ is_storm_in_location }}</h1>
        <div>
            polub
            <a href="http://facebook.com/wroclawburza">Czy we Wrocławiu jest burza na facebooku</a>
        </div>
    </body>
</html>